block content
	h1 NodeJs
	br 
	ul
		li 
			a( href="/clientes" title="Clientes" ) Clientes
		li 
			a( href="/usuarios" title="Usuarios" ) Usuarios
		li 
			a( href="/contato" title="Contato" ) Contato	

	